<!doctype html>
<html lang="en">
<head>
	<title>Cazare</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link href="/assets/bootstrap.css" rel="stylesheet" />
	<link href="/assets/bootstrap-responsive.css" rel="stylesheet" />
	<link href="/assets/bwizard.min.css" rel="stylesheet" />
	<script src="/assets/jquery.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/bwizard.js" type="text/javascript"></script>
	<style>body{padding-top: 60px;}</style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">      
        	<a class="brand" href="#">Cazare</a>
        	<div class="nav-collapse collapse nav-bar-inverse-collapse">
        		<ul class="nav pull-right">
        	    <li><a href="#">Metodologie</a></li>
        	    <li><a href="#">Autentificare </a></li>
		    <li><a href="#">Prezentare cămine </a></li>
        		<!--li>
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
						<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
							<form method="post" action="login" accept-charset="UTF-8">
								<input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
								<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
								<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
								<label class="string optional" for="user_remember_me"> Remember me</label>
								<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
							</form>
						</div>

        		</li-->
        		</ul>
        	</div>
        </div>
      </div>
    </div>

	 <div class="container-narrow">
		<div class="masthead">
		</div>
	 
	  <div class="well">

			<div class="span12">
				<div class="span5">
					<h4>Informații despre procesul de cazare</h4>
					<p>Pentru a putea beneficia de un loc de cazare trebuie să depuneți o cerere de cazare online. Această opțiune este valabilă în profilul dumneavoastră de profil.
					<br/>
					<br/>Pentru a avea acces la profilul dumneavoastră de student este necesar să vă autentificați folosind adresa de email dată de facultate și parola.
					</p>
						 <!--li><a href="/creeaza_cerere" class="btn btn-info">Creeaza cerere</a></li-->
                          			 <br/> <br/> 
						<!--a href="/profil_student" class="btn btn-info">Profil student</a-->
			   	

				 </div>


				    			
				   <div class="span5 pull-right">
					<h4>Informații despre căminele facultății</h4>
					<p>Facultatea de Matematică și Informatică oferă locuri de cazare studeților în căminele Universității
					București. 
					<br/>
					<br/>Pentru o descriere a căminelor accesați link-ul din meniul de sus, secțiunea "Prezentare cămine".
					</p>
		</div>
		<div class="clearfix"></div>			
		</div>
		
		</div>
	</div>
		
	</div>
	<div class="bottom-logo">
		<img src="/assets/logo.png" width="150px" height="150px"/>
		</div>

	

</body>
</html>
